<!--<footer class="footer">-->
<!--    <div class="container-fluid px-lg-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-9 py-5">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4 mb-md-0 mb-4">-->
<!--                        <h2 class="footer-heading">About us</h2>-->
<!--                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
<!--                        <ul class="ftco-footer-social p-0">-->
<!--                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>-->
<!--                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>-->
<!--                            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <div class="row justify-content-center">-->
<!--                            <div class="col-md-12 col-lg-10">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-4 mb-md-0 mb-4">-->
<!--                                        <h2 class="footer-heading">Services</h2>-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#" class="py-1 d-block">Market Analysis</a></li>-->
<!--                                            <li><a href="#" class="py-1 d-block">Accounting Advisor</a></li>-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">General Consultancy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Structured Assestment</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="col-md-4 mb-md-0 mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h2 class="footer-heading">Discover</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul class="list-unstyled">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">About us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Contract us</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Terms &amp; Conditions</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Policies</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="col-md-4 mb-md-0 mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h2 class="footer-heading">Resources</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul class="list-unstyled">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Security</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Global</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Charts</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="#" class="py-1 d-block">Privacy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row mt-md-5">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p class="copyright">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <h2 class="footer-heading">Free consultation</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                <form action="#" class="form-consultation">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" placeholder="Your Name">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" placeholder="Your Email">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="text" class="form-control" placeholder="Subject">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="submit" class="form-control submit px-3">Send A Message</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->