

<header class="p-3 bg-dark text-white fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

<!-- 
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="Home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="About" class="nav-link px-2 text-white">About</a></li>
        <li><a href="/Searchflight" class="nav-link px-2 text-white">Search</a></li>
        <li><a href="/Bookflight" class="nav-link px-2 text-white">Book</a></li>
      
        <li><a href="/Package" class="nav-link px-2 text-white">Our Package</a></li>
      </ul> -->

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/Home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/About" class="nav-link px-2 text-white">About</a></li>
        <li><a routerLink="/Searchflight" class="nav-link px-2 text-white">Search</a></li>
        <li><a routerLink="/Bookflight" class="nav-link px-2 text-white">Book</a></li>
        <!-- <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
        <li><a routerLink="/Package" class="nav-link px-2 text-white">Our Package</a></li>
    </ul>

      <div class="text-end me-8">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Login" class="nav-link px-2 text-white">Login</a></li>
          <li><a href="/Registration" class="nav-link px-2 text-white">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>



<div class="backgroundaddimage">
  <div class="radio-group">
    <div>
      <input type="radio" id="one_way" name="trip_type" (click)="searchdate()">
      <label for="one_way">One way</label>
    </div>

    <div>
      <input type="radio" id="round_trip" name="trip_type" (click)="ReturningDate()">
      <label for="round_trip">Round trip</label>
    </div>
  </div>
  <div class="form-container">
    <form>
    

      <div class="mt-3">
        <label for="from_city" class="form-label">From City:</label>
        <select [(ngModel)]="from_city" id="from_city" name="from_city"  (change)="searchdate()">
          <option *ngFor="let s of fromcitylist" [value]="s">{{s}}</option>
        </select></div>
        
        <div class="mt-3">
          <label for="to_city" class="form-label">To City:</label>
          <select [(ngModel)]="to_city" id="to_city" name="to_city" (change)="searchdate()">
            <option *ngFor="let s of tocityList" [value]="s">{{s}}</option>
          </select></div>


      <label class="form-label" for="flying_date">Flying Date</label>
      <input type="text" id="flying_date" name="flying_date" [(ngModel)]="flying_date">

      <label class="form-label" for="return_date">Return Date</label>
      <input type="text" id="return_date" name="return_date" [(ngModel)]="return_date">
      <br>
      <button type="submit" (click)="searchid()">Search</button>
    </form>
  </div>
</div>



<div class="container mt-5">
  <div class="row">
    <div *ngFor="let x of flight;" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 shadow">
        <img src="https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=1024x1024&w=is&k=20&c=Vq45uT-uzvp1_R0RwUbSEVN6IkQwkvJKLPiQkRxWj0U=" class="card-img-top" alt="Flight Image">
        <div class="card-body">
          <button class="btn btn-warning" (click)="go(x.id)">Go</button>
          <h5 class="card-title">{{x.name}}</h5>
          <p class="card-text">Flight Number: {{x.number}}</p>
        </div>
      </div>
    </div>
  </div>
</div>






<footer class="bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>YourWebsiteName is a leading travel agency providing exceptional travel experiences.</p>
        <p>Follow us on social media:</p>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p><i class="fas fa-map-marker-alt me-2"></i> 123 Travel Street, City, Country</p>
        <p><i class="fas fa-phone-alt me-2"></i> +1234567890</p>
        <p><i class="fas fa-envelope me-2"></i> info@yourwebsitename.com</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-secondary py-3">
    <div class="container text-center">
      <p>&copy; 2024 YourWebsiteName. All rights reserved.</p>
    </div>
  </div>
</footer>


